<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Login and Registration</title>
</head>

<body>
    <div class="wrapper">
        <h1 class="title">Login and Registration </h1>
        <div class="forms">
            <div class="reg_form">
                <div class="error_message_reg">
                    {% if session['reg_submit'] == True %} {% with messages =
                    get_flashed_messages() %}
                    <!-- declare a variable called messages -->
                    {% if messages %}
                    <!-- check if there are any messages -->
                    {% for message in messages %}
                    <!-- loop through the messages -->
                    <p class="error">{{message}}</p>
                    <!-- display each message in a paragraph tag -->
                    {% endfor %} {% endif %} {% endwith %} {% endif %}
                </div>
                <br />
                <form class="form-signin mt-5" action="/users/create" method="POST">
                    <h4 class="mb-3 mx-2 fw-normal">Register</h4>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" placeholder="First Name"
                            name="first_name" />
                        <label for="floatingInput">First Name</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Last Name"
                            name="last_name" />
                        <label for="floatingInput">Last Name</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Email Address"
                            name="email" />
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingInput" placeholder="Password"
                            name="password" />
                        <label for="floatingPassword">Password</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingInput" placeholder="password"
                            name="password_confirm" />
                        <label for="floatingPassword">Password Confirmation</label>
                    </div>
                    <br />
                    
                    <br />
                    <button class="w-100 btn btn-lg btn-primary my-1" type="submit" name="reg_btn" value="register">
                        Register
                    </button>
                </form>
            </div>
            <div class="login_form">
                <br />
                <div class="error_message_signin">
                    {% if session['login_submit'] == True %} {% with messages =
                    get_flashed_messages() %}
                    <!-- declare a variable called messages -->
                    {% if messages %}
                    <!-- check if there are any messages -->
                    {% for message in messages %}
                    <!-- loop through the messages -->
                    <p class="error">{{message}}</p>
                    <!-- display each message in a paragraph tag -->
                    {% endfor %} {% endif %} {% endwith %} {% endif %}
                </div>
                <form class="form-signin mt-5" action="/login" method="POST">
                    <h4 class="mb-3 mx-2 fw-normal">Sign in</h4>
                    <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                            name="email" />
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingInput" placeholder="Password"
                            name="password" />
                        <label for="floatingPassword">Password</label>
                    </div>
                
                    <button class="w-100 btn btn-lg btn-primary mt-1 mb-2" type="submit">
                        Sign in
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>